@import 'tailwindcss';

:root {
  --primary: #ff7000;
  --primary-lighter: #ff8322;
  --primary-foreground: #fafafa;
  --accent: #1da1f2;

  --background: #fafafa;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --border: #e5e5e5;
  --input: #f4f6f8;
  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --mobile-header-height: 60px;
  --desktop-header-height: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #101218;
    --border: #ffffff1a;
    --input: #151821;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-lighter: var(--primary-lighter);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --font-sans: var(--font-inter);
  --font-logo: var(--font-space-grotesk);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground;
  }
}
